{% extends 'base.html' %}
{% load icons markup humanize %}
{% load url from future %}

{% block page_header %}
	<h1>
		{% if recipient %}
			<span class="pull-right">{% icon 'user' %}</span>
			<a href="{% url 'ideas' recipient.username %}">{{ recipient.get_full_name|default:recipient.username }}</a>
		{% else %}
			All the things
		{% endif %}
	</h1>
	
	{% if recipient %}
		{% if me %}
			<p>
				Here&rsquo;s where people can suggest ideas for your next hack project.<br />
				You can <a class="tweet-window" href="http://twitter.com/intent/tweet?text={% filter urlencode %}Help me decide on my next hack project: http://{{ SITE.domain }}{% url 'ideas' request.user.username %}{% endfilter %}">tweet out this URL</a>, and also jot down your own ideas for people to vote on.
			</p>
		{% else %}
			<p>
				I&rsquo;d like to build something, but I&rsquo;m not quite sure what.<br />
				Why not help me decide what to build?
			</p>
		{% endif %}
	{% else %}
		<p>
			Here are all the ideas currently percolating on {{ SITE.domain }}.
		</p>
	{% endif %}
{% endblock page_header %}

{% block form_content %}
	{% if request.user.is_anonymous and recipient %}
		<p>
			Got an idea for a hack?
			<a href="{% url 'socialauth_begin' 'twitter' %}?next={% filter urlencode %}{% url 'ideas' recipient.username %}#field-title{% endfilter %}">Sign up via Twitter</a> and suggest one
		</p>
		
		<hr />
	{% endif %}
	
	<div class="media">
		{% if request.user.is_authenticated and recipient %}
			<a class="pull-left">
				<img class="media-object img-circle loading" src="//twitter.com/api/users/profile_image/{{ request.user.username }}" width="64" height="64" />
			</a>
			
			<div class="media-body">
				<form class="form-stacked" method="post" id="idea-form">
					{% for field in form %}
						<div class="form-group{% if field.errors %} has-error{% endif %}" id="field-{{ field.html_name }}"{% if not forloop.first and request.method == 'GET' %} style="display: none;{% endif %}">
							{{ field }}
						
							{% if field.errors %}
								<span class="help-block">{{ field.errors|join:'<br />' }}</span>
							{% endif %}
						</div>
					{% endfor %}
					
					<div class="form-group"{% if request.method == 'GET' %} style="display: none;"{% endif %}>
						<button type="submit" class="btn btn-default pull-left">
							{% icon 'arrow-right' %}
							Post your idea
						</button>
						
						{% if recipient.pk != request.user.pk %}
							<div class="checkbox pull-left">
								<label>
									<input name="tweet" id="id_tweet" type="checkbox" checked />
									Tweet this idea back to @{{ recipient.username }}
								</label>
							</div>
						{% endif %}
					</div>
					
					{% csrf_token %}
				</form>
			</div>
		
			<hr />
		{% endif %}
		
		{% for idea in ideas.object_list %}
			<a class="pull-left">
				<img class="media-object img-circle loading" src="//twitter.com/api/users/profile_image/{{ idea.sender.username }}" width="64" height="64" />
			</a>
			
			<div class="media-body">
				<h2 class="has-pre-title">
					<span class="pre-title">
						{% if not recipient and idea.sender.pk == idea.recipient.pk %}
							<a href="{% url 'ideas' idea.recipient.username %}">{{ idea.recipient.get_full_name|default:idea.recipient.username }}</a> thought up
						{% else %}
							{% if idea.sender.pk == idea.recipient.pk %}
								{{ idea.sender.first_name|default:idea.sender.username }} thought up
							{% else %}
								<a href="//twitter.com/{{ idea.sender.username }}/">{{ idea.sender.get_full_name|default:idea.sender.username }}</a> suggested
								{% if not recipient %}to
									<a href="{% url 'ideas' idea.recipient.username %}">{{ idea.recipient.get_full_name|default:idea.recipient.username }}</a>
								{% endif %}
							{% endif %}
						{% endif %}
					</span>
					<a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>
				</h2>
				
				{{ idea.description|striptags|markdown }}
				
				{% if request.user.is_authenticated %}
					<p>
						<a href="{% url 'vote_up' idea.recipient.username idea.slug %}">{% icon 'thumbs-up' %} Vote up</a> |
						<a href="{% url 'vote_down' idea.recipient.username idea.slug %}">{% icon 'thumbs-down' %} Vote down</a>{% if idea.votes.exists %} |
						{{ idea.votes.count|apnumber|capfirst }} vote{{ idea.votes.count|pluralize }} cast
						{% endif %}{% if idea.used %} | {{ idea.recipient.first_name|default:idea.recipient.username }} will be using this idea
						{% endif %}
					</p>
				{% else %}
					<p>
						<a href="{% url 'socialauth_begin' 'twitter' %}?next={{ idea.get_absolute_url|urlencode }}">Login or sign up via Twitter</a>
						to vote on this idea
					</p>
				{% endif %}
			</div>
			
			{% if not forloop.last %}<hr />{% endif %}
		{% endfor %}
		
		{% if page.has_previous or page.has_next %}
			{% if page.object_list|length > 1 %}
				<hr />
			{% endif %}
			
			<div class="blog-pagination clearfix">
				{% if page.has_previous %}
					<a href="?page={{ page.previous_page_number }}" class="pull-left">&larr; Newer blog posts</a>
				{% endif %}
				
				{% if page.has_next %}
					<a href="?page={{ page.next_page_number }}" class="pull-right">Older blog posts &rarr;</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock form_content %}

{% block javascript %}
	{{ block.super }}
	
	<script>
		$(document).ready(
			function() {
				$('#id_title').on('focus',
					function() {
						$(this).closest('form').find('.form-group').not(':visible').slideDown();
						$(this).off('focus');
					}
				);
				
				if(document.location.hash == '#field-title') {
					$('#id_title').focus();
				}
			}
		);
	</script>
{% endblock javascript %}