{% extends 'bootstrap/base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
	<link rel="icon" href="{% static 'img/favicon.png' %}" />

	{{ block.super }}
{% endblock extra_head %}

{% block after_header %}
	<div class="page-header" data-importance="2">
		<div class="container">
			{% block page_header %}{% endblock %}
		</div>
	</div>
{% endblock after_header %}

{% block content %}
	{% block form_content %}{% endblock %}
	{% block form_footer %}{% endblock %}
{% endblock content %}

{% block javascript %}
	<script src="{% static 'js/functions.js' %}"></script>
	{{ block.super }}
{% endblock javascript %}
