{% extends 'base.html' %}
{% load icons %}

{% block after_header %}
	<div class="jumbotron">
		<div class="container">
			<h1>What should I make today?</h1>
			<p>
				<strong>{{ SITE.name }}</strong> helps you decide what to build for your next hack project.
				Got an afternoon and stuck for an idea? Ask your friends and followers via Twitter, and get
				hacking!
			</p>
			
			{% if request.user.is_anonymous %}
				<a class="btn btn-primary btn-large" href="{% url 'socialauth_begin' 'twitter' %}">{% icon 'twitter' %} Sign up via Twitter</a>
			{% else %}
				<a class="btn btn-primary btn-large" href="{% url 'my_ideas' %}">{% icon 'arrow-right' %} Take me to my ideas</a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="row show-grid">
		<div class="col-lg-4">
			<h2 class="has-pre-title">
				<span class="pre-title">Here are a few of the</span>
				Latest ideas
			</h2>
			
			<div class="media">
				{% for idea in latest_ideas %}
					<a class="pull-left">
						<img class="media-object img-circle loading" src="//twitter.com/api/users/profile_image/{{ idea.sender.username }}" width="32" height="32" />
					</a>
					
					<div class="media-body">
						<p>
							<a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>
						</p>
					</div>
					
					{% if not forloop.last %}<div class="clearfix"></div>{% endif %}
				{% endfor %}
			</div>
		</div>
		
		<div class="col-lg-4">
			<h2 class="has-pre-title">
				<span class="pre-title">And here are just three of the</span>
				Most popular ideas
			</h2>
			
			<div class="media">
				{% for idea in popular_ideas %}
					<a class="pull-left">
						<img class="media-object img-circle loading" src="//twitter.com/api/users/profile_image/{{ idea.sender.username }}" width="32" height="32" />
					</a>
					
					<div class="media-body">
						<p>
							<a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>
						</p>
					</div>
					
					{% if not forloop.last %}<div class="clearfix"></div>{% endif %}
				{% endfor %}
			</div>
		</div>
		
		<div class="col-lg-4">
			<img id="small-badge" src="{{ MEDIA_URL }}img/badge-small.png" alt="Inspired by {{ SITE.name }}" />
			
			<h2 class="has-pre-title">
				<span class="pre-title">Already built something?</span>
				Get the badge!
			</h2>
			
			<p>
				Help spread the word and tell people how you got inspired by pasting this badge code
				into your hack&rsquo;s homepage.
			</p>
			
			<textarea class="code" readonly>{% spaceless %}{% filter escape %}
				<a href="http://{{ SITE.domain }}/"><img src="http://{{ SITE.domain }}{{ MEDIA_URL }}img/badge.png" alt="Inspired by {{ SITE.name }}" /></a>
			{% endfilter %}{% endspaceless %}</textarea>
		</div>
	</div>
{% endblock content %}